      <!-- Main Text -->
      <div class="row">
        <div class="span12">
          <h2>Gallery</h2>

      
      <!-- Start Gallery -->
         <h5> <i class="icon-star-empty"></i> Star Photos</h5>
          <p>The following are the best pictures taken over the past year.</p>
          <ul class="thumbnails">
            <li class="span4">
              <div class="thumbnail">
                <img src="../assets/carousel1.jpg" alt="Jenny location scouting">
                <p>Jenny out scouting for a location for the OSC 2012 club holiday. Bring on St.Christoph/St.Anton 2013!</p>
              </div>
            </li>            
            <li class="span4">
              <div class="thumbnail">
                <img src="../assets/carousel2.jpg" alt="John Carves">
                <p>Club President John Croft attacks the slopes along with his new GoPro camera. Needless to say there is some good footage here.</p>
              </div>
            </li>
            <li class="span4">
              <div class="thumbnail">
                <img src="../assets/carousel3.jpg" alt="Nick Jumping">
                <p>Nick Spearpoint doing his thing with some new freestyle skis from one of our sponsors. Discounts for all club members!</p>
              </div>
            </li>
          </ul>

          <h5><i class="icon-camera"></i> Club Holiday - Val Thorens 2011</h5>
          <p>The following are the club Instructors.</p>
          <ul class="thumbnails">
            <li class="span3">
              <div class="thumbnail">
                <img src="http://placehold.it/300x200" alt="Gallery Image">
              </div>
            </li>
            <li class="span3">
              <div class="thumbnail">
                <img src="http://placehold.it/300x200" alt="Gallery Image">
              </div>
            </li>            
            <li class="span3">
              <div class="thumbnail">
                <img src="http://placehold.it/300x200" alt="Gallery Image">
              </div>
            </li>
            <li class="span3">
              <div class="thumbnail">
                <img src="http://placehold.it/300x200" alt="Gallery Image">
              </div>
            </li>
            <li class="span3">
              <div class="thumbnail">
                <img src="http://placehold.it/300x200" alt="Gallery Image">
              </div>
            </li>
            <li class="span3">
              <div class="thumbnail">
                <img src="http://placehold.it/300x200" alt="Gallery Image">
              </div>
            </li>            
            <li class="span3">
              <div class="thumbnail">
                <img src="http://placehold.it/300x200" alt="Gallery Image">
              </div>
            </li>
            <li class="span3">
              <div class="thumbnail">
                <img src="http://placehold.it/300x200" alt="Gallery Image">
              </div>
            </li>
            <li class="span3">
              <div class="thumbnail">
                <img src="http://placehold.it/300x200" alt="Gallery Image">
              </div>
            </li>
            <li class="span3">
              <div class="thumbnail">
                <img src="http://placehold.it/300x200" alt="Gallery Image">
              </div>
            </li>            
            <li class="span3">
              <div class="thumbnail">
                <img src="http://placehold.it/300x200" alt="Gallery Image">
              </div>
            </li>
            <li class="span3">
              <div class="thumbnail">
                <img src="http://placehold.it/300x200" alt="Gallery Image">
              </div>
            </li>
          </ul>    <!-- End Gallery -->  
      </div> 