  <h2>Get Started</h2>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span7">
          <h4>Join the club!</h4>
          <p>Getting started is easy and we welcome all levels of skiers to join the club. We believe our prices are very reasonable and you wont find anywhere else better value that us. You can pay when you attend your first session however make sure its cash or cheque as we arent able to process cards! Just come down to the ski hut at the Oval Sports Centre during a session and speak to one of us! Or visit the <a href="joinus.html">contact page</a> to get in touch.</p>

          <h4>Get Lessons!</h4>
          <p>If you are a complete beginner then we run lessons during the ski season that you are welcome to attend once you have joined the club.  We currently dont require you to register or pay in advance for beginner courses as we have always been able to cope with demand. You will need to cover up your arms (to protect from those inevitable falls), wear gloves and long thick socks. We run in almost all weather so make sure youre prepared for the day. We will need to know your weight to setup your ski bindings correctly so please be honest. You may want to arrive 10-15 minutes early to get your skis and boots sorted out.</p>
          <p><a class="btn" href="whatson.html">Beginners Lessons Dates &raquo;</a></p>
          <br>

          <h4>Intermediate & Free Time</h4>
          <p>After three beginners lessons you can continue to ski at the club for as long as you want and will become part of an intermediate group. You will now be able to go out on the slopes yourself to practice and develop your skills in your own time. We hope that you enjoy it as much as we do and continue all the way up to racing level!</p>
          <p><a class="btn" href="whatson.html">Free Time Dates &raquo;</a></p>
          <br>

          <h4>Family Sessions</h4>
          <p>We provide family ski sessions once a month on a Sunday evening. We ask that all skiers must be able to turn and stop safely during these sessions to avoid any collisions with little ones. Please note that there will be no instruction during these sessions.
          </p>
          <p><a class="btn" href="whatson.html">Family Session Dates &raquo;</a></p>
          <br>

          <h4>Racing</h4>
          <p>The club holds race training once a week and we have members who race in the National league at various ski slopes across the country. 
           We also organise teams to race at Stoke (in the summer), Sheffield (in the winter) and Pendle (also in the winter). Details for these local races can be found below. During the summer months we normally finish with a BBQ and open the snack bar for drinks and sweets.</p>
          <p><a class="btn" href="race.html">More Details &raquo;</a></p>
          <br>

          <h4>Holiday</h4>
          <p>Each season the club organises a holiday to one of the popular resorts in Europe. The holiday is arranged over the Easter break making it available to all club members. The group size varies each year, based on flight availability and what the demand is expected to be it can be anything from 50 - 100 people.</p>

          <p>This year we will be going to St.Christoph/St.Anton, Austria Saturday 23rd March - 30th March 2013. For further details or to book a place please <a href="joinus.html">contact us</a>.</p>
        </div>

        <div class="span5">
          <h3>Join Us</h3>
          <p>Joining us out on the slope is easy. Take a trip to the ski hut at the Oval Sports Centre during any session and you will find one of our committee members or helpers to talk to. Or get in touch with us using the details below.</p>

          <h4>Membership Fees</h4>
          <p>Junior MemberShip: £7.00</p>
          <p>Senior Membership: £15.00</p>
          <p>Junior MemberShip: £30.00</p>
          <p>(Membership requires renewal at the start of September)</p>

          <h4>Session prices</h4>
          <p>All Members £5 <span class="label">including hired kit.</span> </p> 
          <p>All Members £2 <span class="label">using your own kit.</span> </p>
        </div>
      </div>