<div class="row">
        
        <div class="span8">
          <h2>Join Us</h2>
          <p>Joining us out on the slope is easy. Take a trip to the ski hut at the Oval Sports Centre during any session and you will find one of our committee members or helpers to talk to. Or get in touch with us using the details below.</p>

          <h2>Membership Fees</h2>
          <p>Junior Membership: £7.00</p>
          <p>Senior Membership: £15.00</p>
          <p>Junior Membership: £30.00</p>
          <p>(Membership requires renewal at the start of September)</p>

          <h2>Session prices</h2>    
          <p>All Members £5 <span class="label">including hired kit.</span> </p> 
          <p>All Members £2 <span class="label">using your own kit.</span> </p>
          
        </div>           

        <div class="span4">
          <h2>Contact Us</h2>
          <p>If you have a question and can’t find an answer on the FAQ page then please send us an email and we’ll deal with it a.s.a.p.</p>

          <address>
            <strong>All Enquiries</strong><br>
            <a href="mailto:#">SkiEnquiries@OvalSkiClub.com</a>
          </address>
          <address>
            <strong>John Wahlers (Chairman)</strong><br>
            0151 645 2452</a>
          </address>
          <address>
            <strong>Belinda Dawson (Secretary)</strong><br>
            0151 342 9756</a>
          </address>
          <address>
            <strong>Oval Leisure Centre</strong><br>
            Old Chester Road,<br>
            Bebington, 
            CH63 7LF<br>
            <abbr title="Phone">P:</abbr> (01516) 062 010
          </address>
          <!-- Button to trigger modal -->
          <a href="#MapModal" role="button" class="btn" data-toggle="modal">Find us on Google Maps</a>

           <!-- Modal -->
          <div class="modal hide fade in" id="MapModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="MapModalLabel">Here we are!</h3>
            </div>
            <div class="modal-body">
              <iframe width="520" height="390" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=The+Oval+Leisure+Centre,+Old+Chester+Road,+Bebington&amp;aq=1&amp;oq=oval+sports&amp;sll=52.8382,-2.327815&amp;sspn=10.149213,25.993652&amp;ie=UTF8&amp;hq=The+Oval+Leisure+Centre,+Old+Chester+Road,+Bebington&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe><br/>                
            </div>

            <div class="modal-footer">
              <a class="btn" href="https://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=The+Oval+Leisure+Centre,+Old+Chester+Road,+Bebington&amp;aq=1&amp;oq=oval+sports&amp;sll=52.8382,-2.327815&amp;sspn=10.149213,25.993652&amp;ie=UTF8&amp;hq=The+Oval+Leisure+Centre,+Old+Chester+Road,+Bebington&amp;t=m&amp;z=15&amp;iwloc=A" target="_blank">View in Google &raquo;</a>
              <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>

          </div>               
        </div>
      </div>