<div class="row">
        <div class="span7">
          <h2>Racing</h2>
          <p>Tony McClave, your race secretary works tirelessly behind the scenes to make the winter and summer racing possible. We have members who race in the National league at various ski slopes across the country. We also organise teams to race at Stoke (in summer), Sheffield and Pendle (both in winter).</p>

          <h4>Do you want to race?</h4>

          <p>All members of the ski club are eligible to race.
          It's a great way to improve your skiing so if you are interested in racing then contact Tony, or any member of the team, who will provide you with the information you need. Skiers need to be able to competently ski from the top of our slope and get round gates. Most events we compete in are designed as an introduction to racing.</p>

          <p>Cost: £12 per race (£15 if entry received on the Friday before the race or on race day). We are offering online entry applications this year and this is our preferred method so please try to use it! You will be able to pay via paypal or credit/debit card. You can sign up for one race at a time or all 5 in one go, or any combination in between.</p>

          <h4>Race details in summary...</h4>
          <p>Cost - £8 per racer per race. 
          £3 for ski and/or boot hire (the skis we hire are recreational skis not race skis
          Teams of 3 or 4. 
          Skiers need to be able to competently ski from the top of our slope and get round gates. 
          This race is designed as an introduction to racing.</p>
        </div>

        <div class="span5">
          <h3>Racing Events</h3>
          <h4>Frostbite 7 (Sheffield)</h4>
          <p>"Fun racing in a friendly enviroment. All Skiers welcome, including parents."</p>
            <ul>
              <li>Saturday 15th October 2013</li>
              <li>Saturday 15th October 2013</li>
              <li>Saturday 12th November 2013</li>
              <li>Saturday 10th December 2013</li>
              <li>Saturday 14th January 2014</li>
              <li>Saturday 17th March 2014</li>
            </ul>
            <p></p>

          <h4>Winter Race League (Pendle)</h4>
          <p></p>
            <ul>
              <li>Saturday October 1st 2013</li>
              <li>Saturday November 5th 2013</li>
              <li>Saturday December 3rd 2013</li>
              <li>Saturday February 4th 2014</li>
              <li>Saturday March 3rd 2014</li>
            </ul>
          <a class="btn" href="joinus.html">Enter Events &raquo;</a>
        </div>
      </div>